
cloudpickle==1.5.0
ipykernel==5.3.4
ipython==7.9.0
ipython-genutils==0.2.0
ipython-sql==0.3.9
ipywidgets==7.7.1
jupyter-client==6.1.12
jupyter-console==6.1.0
jupyter-core==4.11.2
jupyterlab-widgets==3.0.3
keras==2.9.0
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
Markdown==3.4.1
MarkupSafe==2.0.1
matplotlib==3.2.2
matplotlib-venn==0.11.7
more-itertools==9.0.0
numpy==1.21.6
palettable==3.3.0
pandas==1.3.5
pandas-datareader==0.9.0
pandas-gbq==0.17.9
pandas-profiling==1.4.1
pandocfilters==1.5.0
panel==0.12.1
param==1.12.2
pastel==0.2.1
pathlib==1.0.1
pickleshare==0.7.5
pip-tools==6.2.0
plotly==5.5.0
prompt-toolkit==2.0.10
prophet==1.1.1
py==1.11.0
pydata-google-auth==1.4.0
scikit-image==0.18.3
scikit-learn==1.0.2
scipy==1.7.3
screen-resolution-extra==0.0.0
scs==3.2.2
seaborn==0.11.2
Send2Trash==1.8.0
setuptools-git==1.2
sklearn-pandas==1.8.0
sklearn==1.1.3
spacy==3.4.2
SQLAlchemy==1.4.43
sqlparse==0.4.3
statsmodels==0.12.2
sympy==1.7.1
tables==3.7.0
tabulate==0.8.10
tblib==1.7.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.2
tensorflow-datasets==4.6.0
tensorflow-estimator==2.9.0
tensorflow-gcs-config==2.9.1
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow-metadata==1.10.0
tensorflow-probability==0.17.0
testpath==0.6.0
textblob==0.15.3
torchsummary==1.5.1
torchtext==0.13.1
tqdm==4.64.1
typeguard==2.7.1
typer==0.4.2
typing-extensions==4.1.1
wordcloud==1.8.2.2
xarray==0.20.2
xarray-einstats==0.2.2
xgboost==0.90
xkit==0.0.0
xlrd==1.1.0
xlwt==1.3.0
yarl==1.8.1

